.App-header {
  width: calc(100vw - 100px);
  min-width: calc(100% - 100px);
  background: #2e313b;
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  /* identical to box height */
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 26px 50px;
}
